{% extends "::base.html.twig" %}

{% block body %}
<h2>Se ha enviado un correo electrónico de confirmación</h2>
<div class="row">
    <div class="span10">
        <p class="lead">
            Verifique su bandeja de entrada o spam del correo electrónico con el que se registro para votar.
            Una vez confirme su registro podrá registrar su voto en la aplicación.
        </p>
    </div>
</div>
{% endblock %}