<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#D4D3D3;width:100%!important">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;background-color:#D4D3D3;height:100%!important;width:100%!important">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="border-collapse:collapse"><table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#D4D3D3">
                        <tbody><tr>
                            <td valign="top" style="border-collapse:collapse;padding:10px 0px">                                	
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody><tr>
                                        <td valign="top" align="left" style="padding-top:2px;border-collapse:collapse">
                                            <h1 style="color:#185990; font-size:35px; margin:0px;font-family:Helvetica,Arial,sans-serif;">Centro Democr&aacute;tico</h1>
                                        </td>                                            
                                        <td valign="center" align="right" width="190" style="border-collapse:collapse">
                                            <div style="color:#8a8a8a;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:100%;text-align:right"></div>
                                        </td>
                                    </tr>
                                </tbody></table></td>
                        </tr></tbody>
                    </table></td>
                </tr>
                <tr><td align="center" style="border-collapse:collapse">
                	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border:none">
                    	<tbody>
                            <tr>
                                <td style="background:#fff;border-collapse:collapse;color:#202020;font-family:Helvetica,Arial,sans-serif;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle">
									<img src="http://prensacentrodemocratico.files.wordpress.com/2013/04/foto-carlos-duque-3-campac3b1a-ojos.jpg" alt="Centro democr&aacute;tico" border="0" width="600" height="190">
                                </td>
                            </tr>
                        </tbody>
                    </table>                                    
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="border-collapse:collapse">

                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                            <tbody><tr>
                                <td valign="top" style="border-collapse:collapse;background-color:#ffffff">

                                                
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse">

                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#505050;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left;padding:15px 0">

                                                    <tbody><tr>
                                                        <td width="30" style="border-collapse:collapse"></td>

                                                        <td width="410" style="border-collapse:collapse">
                                                            <div style="color:#505050;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left;padding:15px 0">
                                                                <h1 style="color:#185990;display:block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
                                                                    {{ title|raw() }}
                                                                </h1>
                                                                <br>
                                                                {{ body|raw() }}
                                                            </div>
                                                        </td>
                                                        
                                                        <td width="30" style="border-collapse:collapse"></td>

                                                    </tr></tbody>
                                                </table>
                                                        	
                                            </td>
                                        </tr></tbody>
                                    </table>
                                </td>
                            </tr></tbody>
                        </table>
                                    
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="border-collapse:collapse">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#2e2e2e;border-top:0">
                            <tbody><tr>
                                <td valign="top" style="border-collapse:collapse">


                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="top" width="350" style="border-collapse:collapse;padding:15px 0">
                                                <div style="font-size:12px;color:#707070;font-family:Helvetica,Arial,sans-serif;line-height:125%;text-align:left;padding-left:30px;color:#fff;">
                                                &copy; Copyright 2013 por <a href="http://www.altactic.com" style="color:#fff;" target="_blank">Altactic</a>. Todos los derechos reservados.<br>                                                            
                                                </div>
                                            </td>
                                        </tr>                                                    
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody>
        </table>
                        
    </center>
</div>
