<li class="{% if route == 'registro' %}active{% endif %}">
    <a href="{{ path('registro') }}" >Registrarse</a>
</li>
<li class="{% if route == 'login' %}active{% endif %}">
    <a href="{{ path('login') }}">Login</a>
</li>
<li class="{% if route == 'resultado_votaciones' %}active{% endif %}">
    <a href="{{ path('resultado_votaciones') }}">Resultados</a>
</li>
