parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     votaciones
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            1e4a565a79ff96059da1fd1075f2b34bd

    votaciones_fecha_inicio: 2013-10-20 00:00:00
    votaciones_fecha_fin: 2013-10-20 00:00:00
    resultados_fecha_inicio: 2013-10-20 00:00:00
    resultados_fecha_fin: 2013-10-20 00:00:00
